:root {
    font-size: 16px;
    font-family: 'Arial';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;

    --custom-orange: #CF995F;
    --custom-grey: #333138;
    --custom-green: #788585;
    --custom-highlight: #d6ffb7;
  }

html {
    scroll-behavior: smooth;
}

body {
    color: black;
    background-color: var(--text-secondary);
    margin: 0;
    padding: 0;
    border: 0;
     
}

h1{
    margin-top: 0%;
}


.navbar{
    padding: 1rem;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-item{
    align-items: center;
    display: flex;
    margin-bottom: 1rem;
    flex-direction: row-reverse;
}

.nav-link{
    background: rgba(0,0,0,0.3);
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    margin-left: 1rem;
    transition: transform(0.1s);

}

.nav-link-active{
    transform: scale(1.4);
    background: black;
}

.nav-link:hover ~ .link-text{
    opacity: 1;

}

.link-text{
    font-weight: bold;
    color: black;
    opacity: 0;
    transition: opacity 0.1s;
}

.section {
    height: 100vh;
}

#about {
    background-color: var(--custom-orange);
}
#experience{
    background-color: var(--custom-grey);
}
#projects{
    background-color: var(--custom-green);
}
#contact{
    background-color: var(--text-primary); 
}